body {
	font-family: 'concourse_t3regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18pt;
  line-height: 1.428571429;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'concourse_t6regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1
{
	font-family: 'concourse_c7regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 36pt;
	color: #804000;
}

h2
{
	text-align: center;
	font-size: 24pt;
	color: #804000;
}

.page-title {
	margin-bottom: 50px;
}

h3
{
	text-align: center;
	font-size: 20pt;
	color: #804000;
	margin-bottom: 1em;
}

.was-content a:link
{
	color: #804000;
	border-bottom: 1px #804000 dotted;
	text-decoration: none;
}

.was-content a:link
{
	color: #804000;
	border-bottom: 1px #804000 dotted;
	text-decoration: none;
}

.was-content a:visited {
	color: #804000;
	border-bottom: 1px #804000 dotted;
	text-decoration: none;
}

.was-content a:hover
{
	color: #714400;
	border-bottom: 1px #714400 dashed;
	text-decoration: none;
}

.was-content a:focus  {
	color: #804000;
	border-bottom: 1px #804000 dotted;
	text-decoration: none;
}

.was-content a:active {
	color: #804000;
	border-bottom: 1px #804000 dotted;
	text-decoration: none;
}

@media (min-width: 768px) {
	.main-image {
		display: block;
		width: 67%;
		max-width: 67%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}

@media (max-width: 767px) {
	.main-image {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}

.store {
	margin-top: 10px;
	margin-bottom: 10px;
}

.store-link {
	margin-bottom: 0;
	display: inline-block;
}

.store-spacer {
	margin-top:    10px;
	margin-bottom: 10px;
	margin-left:   10px;
	margin-right:  10px;
	display: inline-block;
}

blockquote
{
	font-size: 100%;
	color: #804000;
}

.lighter { color: #BC6900; }

.footer
{
	text-align: center;
	font-size: 12pt;
}

.nav-column {
	bottom-margin: 15px;
}

.nav-style a:link  {
	font-family: 'concourse_c6regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #804000;
	background-color: none;
	border-bottom: none;
}

 .nav-style a:visited {
	font-family: 'concourse_c6regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #804000;
	background-color: none;
	border-bottom: none;
}

.nav-style a:hover  {
	font-family: 'concourse_c6regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #804000;
	background-color: none;
	border-bottom: none;
}

.nav-style a:focus  {
	font-family: 'concourse_c6regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #804000;
	background-color: none;
	border-bottom: none;
}

.nav-style a:active {
	font-family: 'concourse_c6regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #804000;
	background-color: none;
	border-bottom: none;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* Default color #777 --> #804000
   Background color #F8F8F8 --> #FFF
   Border color #E7E7E7 --> #FFF
   Hover and Focus color #5E5E5E --> #563000
   #333 --> #563000
*/
/* navbar */
.navbar-default
{
	background-color: #FFF;
	border: #FFF;
}
/* Title */
.navbar-default .navbar-brand { color: #804000; }
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { color: #563000; }
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #804000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #563000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #FFF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #804000;
    border-bottom-color: #804000;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #563000;
    border-bottom-color: #563000;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #804000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #563000;
    }
}
.navbar-container {
	padding-left: 0;
	padding-right: 0;
}

.theme { text-align: right; }

